.filter {
  width: 100%;
  .filter-input {
    font-size: 16px;
    padding: 3px 8px;
    margin-bottom: 20px;
  }

  .filtered-items {
    height: 600px;
    overflow: auto;
    .filtered-item {
      padding: 8px;
      :hover {
        background-color: #595c97;
      }
    }
  }
}
