.container {
  background-color: #141322;
  width: 700px;
  min-height: 500px;
  margin-top: 50px;
  padding: 30px 15px;
}

.container-body {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.text-style-regular {
  font-size: 18px;
  font-weight: 300;
  color: white;
}

.text-style-bold {
  font-size: 22px;
  font-weight: 500;
  color: white;
}

a {
  text-decoration: none;
  color: #aeaee0;
}
